# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
dist/
build/
eggs/
*.egg

# Virtual env
.venv/
venv/
ENV/

# Streamlit
.streamlit/
.streamlit.secrets
.streamlit.toml

# Artefacts modeles
models/*.pkl
artifacts/*.pkl
artifacts/*.joblib

# Data (garder le CSV dans git, pas les .txt originaux)
data/KDDTrain+.txt
data/KDDTest+.txt

# Logs
logs/*.json
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Secrets
.env
*.pem
*.key
